.rowForm {
	display:flex;
	width: 100%;
	padding:5px 30px;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	margin: 5px 0;
}

.rowForm:first-child {
	padding-top:15px;
}

.rowForm select ,.rowForm input{
	width:262px;
	box-sizing: border-box;
	height: 32px;
	padding: 0 10px;
}

.rowForm #rules {
	margin:0 5px;
	padding:0;
	height: 15px;
	width: 15px;
}
.rowFormRules{
	justify-content: flex-start;
}

.rowForm label{
	font-weight: bold;
	width:140px;
	text-align:left;
}

.rowForm span.text {
	display:block;
	margin:6px 0 7px;
	text-align:left;
}

.rowForm .fbname {
	background:url(https://b.s-static.ak.facebook.com/images/connect_sprite.png) scroll no-repeat 0 0 transparent;
	overflow: hidden;
	padding-left: 20px;
	background-position: -2px -252px;
	height: 16px;
	margin: 6px 0 5px !important;
}

#captchaRow label {
	margin-bottom:70px;
}

.rowForm .inputDesc{
	display:block;
	font-size:11px;
	padding:1px 0 0 2px;
	overflow:hidden;
}

.rowForm label + .inputDesc{
	padding-top:5px;
}

#recaptcha_image > img{
	background:#FFF;
	color:#FFF;
	border: 2px solid  #9EB4CB;
}

#recaptcha_image {
	float: left;
	padding: 10px 2px;
}

#recaptcha_input_wrap {
	clear:both;
	width:436px;
}

#recaptcha_response_field {
	float:left;
	display:block;
	margin-left:141px;
}

.captchaButtons{
	font-size:11px;
}
