*{
	font-size: 12px;
	font-family: Verdana, Helvetica, Arial;
	font-weight: 500;
}
body {
	background: url('../../../theme/gow/img/bkd_page.jpg') 0 0;
}

.content{
	color: #fff;
}

#leftmenu .menu-active{
	background-color: #4c4949!important;
}
#leftmenu li:hover{
	background-color: #3b3737!important;
}


/*font sizes*/
.fs-9{
	font-size: 9px;
}
.fs-10{
	font-size: 10px;
}
.fs-11{
	font-size: 11px;
}
.fs-12{
	font-size: 12px;
}
.fs-14{
	font-size: 14px;
}
/*background colors*/

.bg-black{
  background: linear-gradient(to right, #000000, #333333);
  color: #ffffff;
  padding: 50px;
  text-align: center;
}

.table-dark a{
	color: #fff;
}
.table-dark a:hover{
	color: #ddd;
}

/*colors*/

.text-yellow{
	color:#ffd600;
}

/*--*/

/*effects*/

.cursor-pointer{
	cursor: pointer;
}

.hover-underline:hover{
	text-decoration: underline;
}
